.main{
     height: 100vh; /* full page height */
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f2f2f2;
    color: white;
}

.box{
    height: 300px;
    width: 400px;
    justify-content: center;
    background-color: brown;
    /* background-color: black; */
}

.text{
    justify-content: center;
    margin: 35px 0px 0px 45px;
}
.degree{
    margin: 39px 0px 0px  100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* background-color; */
}

.Enter{
    margin: 18px 0px 0px  140px;
    height: 30px;
    width: 65px;
    border: 1px solid white;
    background-color: brown;
    color: white;
    border-radius: 6px;
}